<!DOCTYPE html>
<html>
  <head>
    <title>Storyforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/"><img src="/assets/logo.svg" class="logo"></a>
        <% if current_user %>
          Welcome, <%= link_to current_user.username,edit_user_registration_path %>! | <%= link_to "Sign out", destroy_user_session_path,  :method => :delete %>
        <% end %>
        <ul class="right" id="nav-mobile">
          <% if current_user %>
            <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
          <% elsif %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
